<div class="">
    <div class="container center-align" id="tituloparallax">
        <div class="row container white-text">
            <!-- <h2 class="hearder animated infinite pulse delay-2s">Simple, fiable y maravilloso.</h2> -->
            <h2 class="hearder"><span class="typed"></span></h2>
            <h5 class="text-darken-3 lighten-3 animated fadeIn">Todo lo que buscabas.</h5>
            <!-- <button class="btn orange">CONTACTO</button> -->
        </div>
    </div>
    <div class="parallax-container" style="width: 100%;" id="parallax">
        <div class="parallax"><img src="assets/img/parallax.jpg"></div>
    </div>
    <div class="row container animated fadeInLeft" style="margin-top:100px; margin-bottom: 100px; ">
        <div class="col s12 center-align">
            <h3>¿Por qué Tener una <b>Página Web</b>?</h3>
        </div>
        <div class="col s12 center-align" style="margin-top:50px">
            <div class="col m4 s12">
                <i class="fa fa-group fa-4x" style="color: #006064 "></i>
                <h5>Atrae más clientes.</h5>
                <p>En estos tiempos que corren, en la era del mundo online, se produce el fenómeno de la propagación a través de medios como el correo electrónico, Facebook u otras redes sociales, así como a través de los clásicos foros.</p>
            </div>
            <div class="col m4 s12">
                <i class="fa fa-bar-chart fa-4x" style="color: #006064 "></i>
                <h5>Incrementa las ventas.</h5>
                <p>Gracias a que las tiendas virtuales están disponibles 24/7, las ventas nunca se detienen y tus clientes siempre podrán visitarte. La comunicación con los usuarios mejora y las experiencia de compra, en la mayoria de los casos, siempre
                    es positiva.</p>
            </div>
            <div class="col m4 s12">
                <i class="fa fa-shopping-cart fa-4x" style="color: #006064 "></i>
                <h5>Permite llegar a más mercados.</h5>
                <p>No importa lo nueva o antugua que sea tu idea de negocio, si decides crear una página web, esta podrá competir con cualquier otro mercado y llegar hasta los lugares más lejanos del planeta.</p>
            </div>
        </div>
    </div>
</div>