<div class="container animated fadeInLeft">
    <div class="col s12 center-align" style="margin-top:20px; margin-bottom:20px">
        <h3>¿Quién soy?</h3>
    </div>
    <div class="row">
        <div class="col m7 s12 center-align">
            <p style="font-size:1.1em">
                Soy Juan Villarroel, venezolano estudiante de Licenciatura en Informática. Desarrollador web freelancer con conocimientos medios. Siempre he tenido como hábitat el entorno de la programación web, tanto a nivel informativo como laboral. En el transcurso
                de mi carrera universitaria siempre he buscado información adicional relacionada al diseño web, he realizado varios proyectos pequeños por hobbie. Adicionalmente poseo conocimientos prácticos en el uso de Photoshop siendo un gran apoyo
                en el diseño de algún proyecto. Me considero una persona con compromiso, y por poner mucho empeño en las cosas hago, programar para mi se vuelve entretenido, me divierte, me emociona. Es por eso que cuando se trata de programar siempre
                doy el 200% de mi y así enfrentar todas las dificultades al momento de proponerme algo.
            </p>
        </div>
        <div class="col m5 s12">
            <div class="col s12">
                <div class="col s3">
                    <p><i><b>HTML</b></i></p>
                </div>
                <div class="col s9">
                    <div class="progress" style="margin-top:25px">
                        <div class="determinate cyan darken-4" id="html"></div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="col s3">
                    <p><i><b>CSS</b></i></p>
                </div>
                <div class="col s9">
                    <div class="progress" style="margin-top:25px">
                        <div class="determinate cyan darken-4" id="css"></div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="col s3">
                    <p><i><b>PHP</b></i></p>
                </div>
                <div class="col s9">
                    <div class="progress" style="margin-top:25px">
                        <div class="determinate cyan darken-4" id="php"></div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="col s3">
                    <p><i><b>JS</b></i></p>
                </div>
                <div class="col s9">
                    <div class="progress" style="margin-top:25px">
                        <div class="determinate cyan darken-4" id="js"></div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="col s3">
                    <p><i><b>SQL</b></i></p>
                </div>
                <div class="col s9">
                    <div class="progress" style="margin-top:25px">
                        <div class="determinate cyan darken-4" id="sql"></div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="col s3">
                    <p><i><b>Angular</b></i></p>
                </div>
                <div class="col s9">
                    <div class="progress" style="margin-top:25px">
                        <div class="determinate cyan darken-4" id="angular"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>